<h1> Create a new contest </h1>

<% if @contest.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @contest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @contest , :action => "create", :method => :post do |f| %>
  <%= render "contest_fields" , f:f %>

<%= f.submit "Create Contest" %>

<%end%>