<%= render @contest %>
<p> <%= link_to "New playa fo dis contest (translation: New Player)" , new_contest_player_path(@contest) %> </p>
<p> less than a minute </p>
<p> 1 minute </p>
<p> 1 day </p>
<p> 2 days </p>
<p> about 24 hours </p>