<li>
  <%= link_to user.username , user_path(user) %> 
  <%= user.email %>
  <% if logged_in? and admin? and not user.admin%>
    <%= link_to "delete" , user_path(user) , :method => :delete , data: {confirm: "Are you sure?"}%>  
  <% end %>
</li>
